[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sweatherradar
Exec=sailfish-qml harbour-sweatherradar
Name=SWeatherRadar
[X-Sailjail]
Permissions=Internet
OrganizationName=net.attah
ApplicationName=sweatherradar
